<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="STest">
    <classes>
      <class name="SeleniumTraining.MorningBatch.SynchronizationWait"/>
      <class name="SeleniumTraining.MorningBatch.Login"/>
      <class name="SeleniumTraining.MorningBatch.practiceProjectPage"/>
      <class name="SeleniumTraining.MorningBatch.section_7_8_WindowHandling"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="RegTest">
    <classes>
      <class name="SeleniumTraining.MorningBatch.StringOprations"/>
      <class name="SeleniumTraining.MorningBatch.POM_login"/>
      <class name="SeleniumTraining.MorningBatch.Exceptions"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
